@charset "utf-8";
@font-face {
    font-family:unimed sans;
    src:url(fonts/unimedsans.otf);



.body {
  margin: 0;
  min-height: 100%;
  font-family: unimed sans;
  font-size: 14px;
  line-height: 20px;
  
 }

}
.logo-principal { max-width: 100%; margin-left: 12%; float:relative; margin-top: 2px; !important position: absolute; width: auto;}
.body {
  margin: 0;
  min-height: 100%;
  font-family: unimed sans;
  font-size: 14px;
  line-height: 20px;
  
 }

.acessibilidade{width: 100%; background-color:#00995d;float: none;  font-family: unimed slab 12px;color:#FFF;line-height:30px; margin-left: 10px; position: fixed; float: none; }
.acessibilidade a{color:#FFF;padding:2px 5px 2px 0;-o-transition:.5s;-ms-transition:.5s;-moz-transition:.5s;-webkit-transition:.5s;transition:.5s;margin-right:5px}
.barra-de-acessibilidade{width:100%;margin:0!important;position:fixed;z-index:99;font-family:'unimed_sansregular';padding:3px 0}
.barra-de-acessibilidade a:hover{cursor:pointer;background-color:#b1d34b;text-decoration:none}.barra-de-acessibilidade a strong{background-color:#b1d34b;padding:2px 5px;margin-right:3px;border-radius:2px}
.acessibilidade-pos{margin-top: -100px;}

#menu{  float: right; margin-top: 40px; margin-right: 180px; max-width: 50%; margin-left: 30%; position: absolute;}

 #menu ul{ font: 14px unimed sans; list-style: none; margin: 0; padding: 0; }

 #menu ul li{ float: left; position: relative; display: block;}

 #menu ul li a{ color: #555; text-decoration: none; margin: 0 2px; padding: 15px 20px; border-right: 1px solid #D3D3D3; display: block; 
  border-radius: 2px;}

#menu li ul { display: none; }

#menu ul li a:hover{ background: #00995d; color: white; }

#menu li:hover ul {  display:block; position:relative;}

#menu li:hover li { float:none; font-size:12px;}

#menu li:hover a { background:#00995d; color:#fff;}


#menu li:hover li a:hover { background:#00e901;}

#img {width: 100%; margin-left: 5px; }

 #texto {position: absolute; margin-top: -210px; margin-left: 350px; font: 36px unimed sans; color: white; }
 #barra {margin-top: -300px; margin-left: 250px; position: absolute; width: 810px; opacity:.10; <!-- .6 nivel de Transparencia -->  }
 #icone {margin-top: 165px; position: absolute; margin-left: -200px; color: white; }


 #botoes {position: absolute; margin-top: -140px; margin-left: 550px; font: 30px unimed sans; color: white; float: right;}

#botoes ul{ font: 18px unimed sans; list-style: none; margin: 0; padding: 0;  }

#botoes ul li{ float: left; position: relative; display: block;}

#botoes ul li a{ color: white; text-decoration: none; margin: 0 ; padding: 10px 20px; border-right: 0px solid #D3D3D3; display: block; 
  border-radius: 150px;
}

#botoes li ul { display: none; }

#botoes ul li a:hover{ background: #00995d; color: white; }

#botoes li:hover ul {
               display:block;
         position:relative;
}
#botoes li:hover li {
              float:none;
        font-size:12px;
}
#botoes li:hover a {
              background:#00995d;
        color:#fff;
}
#botoes li:hover li a:hover {
                      background:#00e901;
}



#ba1 {width: 267px; height: 195px; background: #00995d; position: absolute; margin-top: -65px; margin-left: 220px;}

#ba2 {width: 267px; height: 195px; background: #00995d; position: absolute; margin-top: -65px; margin-left: 515px;}

#ba3 {width: 267px; height: 195px; background: #00995d; position: absolute; margin-top: -65px; margin-left: 810px;}


#textguia { width: 1200px; height: 420px; background: #FFF0C7; margin-left: 60px; margin-top: 140px; font: unimed slab;}

.text1guia {margin-top: 10px; margin-left: 35px; color: #00995d; font-family: unimed slab; }
.text2guia {margin-left: 50px; font-family: unimed slab; font-size: 18px;}
.linha {margin-top: 20px; margin-left: 180px;  }
.linha1 {margin-left: 525px; margin-top: 50px;}
.linha2 {margin-left: 400px; margin-top: -18px;}
.tex-li {font: 10px unimed slab; color: #5b5c65; margin-top: 60px; margin-left: -60px;}

#cartao {width: 1200px;background: #FFF0C7; margin-left: -15px;}

.text1cartao { margin-top: 10px; font-size: 24px; font-family:unimed slab; color: #00995d; margin-left: -450px;  }
.text2cartao { margin-top: -34px; font-size: 24px; font-family:unimed slab; color: #00995d; margin-left: 325px;  }
.text3cartao { margin-top: 34px; font-size: 12px; font-family:unimed slab; color: #5b5c65; margin-left: 30px;  }
.text4cartao{margin-top: 10px; font-size: 12px; font-family:unimed slab; color: #5b5c65; margin-left: -480px;  }


.barra1 {margin-top: 5px; margin-left: 250px; position: absolute; width: 230px;  }

.inf {margin-top: -22px; position: absolute; margin-left: -145px;}

.barra2 {margin-top: -10px; margin-left: 650px; position: absolute; width: 300px;  }
.barra3 {margin-top: 42px; margin-left: 650px; position: absolute; width: 300px;  }

.btn1 {margin-top: 10px; background: #b1d24b; color: white; font-family: unimed slab; width: 100px; height: 40px; margin-left: -570px;}
.btn2 {margin-top: -1px; background: #b1d24b; color: white; font-family: unimed slab; width: 100px; height: 40px; margin-left: 230px;}

.div-video {width: 1200px; height: 600px;   margin-top: 30px; margin-left: 1px;}









.container, .container-fluid {
 padding-right: 15px;
 padding-left: 15px;
 background-color: #f9f9f9;
}
.row {
 margin-bottom: 20px;
}
[class*="col-"], header, footer, nav, aside, section, div[role="main"] {
 padding-top: 15px;
 padding-bottom: 15px;
 background-color: white;
 
 text-align: center;
}
div[role="main"] {
 position: right;
}
div[role="main"], 
} 

.planos {width: 1200px; }

.med {width: 100px; height: 100px; margin-left: -500px; margin-top: 75px; }

.textv {font-family:unimed slab; color: #00995d;}
.textper {font-family:unimed slab; }
.perf {font-family: unimed slab; margin-left: -500px; margin-top: 10px;}
.perf1 {font-family: unimed slab; margin-left: -500px; margin-top: -5px;}
.plano {width: 170px; height: 140px; margin-top: -290px;}
.plano1 {font-family: unimed slab; margin-top: -70px; margin-left: 10px;}
.modalidade {width: 120px; height: 120px; margin-top: -240px; margin-left: 500px;  }
.texm {font-family: unimed slab; margin-left: 500px; margin-top: -50px;}
.texm1 {font-family: unimed slab; margin-left: 500px; margin-top: -5px;}

.btn3 {margin-top: 25px; background: #b1d24b; color: white; font-family: unimed slab; width: 150px; height: 40px; margin-left: 25px;}

.viver {width: 1200px; height: 350px;  background: #fff0c7; margin-top: 30px; }
.textv {font-family: unimed slab; color: #00995d; margin-top: 50px; }
.textv1{font-family: unimed slab; font-size: 14px;}
.textp {margin-top: 30px;}
.colunas2 { margin-top: 90px; margin-left: -15px;}

.not {width: 1200px;}

.textnot {margin-top: 30px; font-family:unimed slab; color: #00995d; margin-left: 80px; }
.textnot2 {font-family: unimed slab;}
.colunas3 {margin-top: 90px;}

.rodape {width: 1200px; height: 316px; background: #fff0c7; margin-top: 300px; }
.rodapetext {margin-top: -580px;}
.text-ro {font-family: 18px unimed slab; margin-top: 300px; margin-left: -550px; color: #00995d;}
.text-ro1 {font-family: 18px unimed slab; margin-top: -30px; margin-left: -150px; color: #00995d;}
.text-ro2 {font-family: 18px unimed slab; margin-top: -30px; margin-left: 250px; color: #00995d;}
.text-ro3 {font-family: 18px unimed slab; margin-top: -30px; margin-left: 670px; color: #00995d;}
.text-ro4 {font-family: 18px unimed slab; margin-top: -30px; margin-left: 920px; color: #00995d;}
.textap {font-family: 20px unimed slab; margin-top: 50px; color: #00995d; margin-left: -550px; }
.play {width: 100px; height: 40px; margin-left: -530px; margin-top: -10px;}
.store {width: 120px; height: 50px; margin-left: 5px; margin-top: -10px;}
.num{margin-top: -72px; margin-right: -100px; color: #0A5f55; font-size: unimed slab;}
.textnum {font-family: 5px unimed slab; margin-left: 100px;}
.textnum2 {font-family: 5px unimed slab; margin-left: 100px; margin-top: -15px;}
.textred { margin-left: 730px; margin-top: -50px; color: #00995d; margin-top: -100px;}
.red1 {width: 100px; height: 59px; margin-right: -600px; }
.red2 {width: 100px; height: 59px; margin-right: -750px; margin-top: -85px;}
.red3 {width: 100px; height: 59px; margin-right: -900px; margin-top: -130px;}
.rodfim {font-family: 5px; unimed slab; margin-left: 100px; margin-top: 50px;}